<link rel="stylesheet" href="css/cssslider.css">
<link rel="stylesheet" href="css/w3.css">
<div class="w3-margin" ng-controller="HomeController">

  <div id="slider">
  <ul class="slideshow">
    <li><span>Image 02</span><div class="bloc"><h3 >Plan your trip <br> Find your leisures</h3></div></li>
    <li><span>Image 01</span></li>
    <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
          <li><span>Image 06</span></li>
  </ul>


 <div class="container">
      <img src="icons/logo.png" style="height:177px; width:150px;"/>
      <p style="font-size:50px; color: #000000; font-weight: bold ; ">YourMap</p>


      <br><br>
    <button id="bouton" ng-click="gotopage2()" type="button" class="w3-btn w3-red w3-round-small" style="background-color:rgb(22, 99, 147);">Start your journey</button>
      <br>
      <p style="font-size:10px; color: #000000;margin-top:20px;">Already registered? Login to share experience with other users</p>
      <button id="bouton" ng-click="gotoseconnecter()"type="button" class="w3-btn w3-red w3-round-small">Login</button>
      <br>
    <p style="font-size:10px; color: #000000;">Liked the experience? Register to our app to save your itinerary</p>
    <button id="bouton" ng-click="gotoregister()"type="button" class="w3-btn w3-red w3-round-small">Register to our site</button>

</div>

</div>
</div>
